services:
  - type: web
    name: ocms
    env: docker
    plan: free
    autoDeploy: true
    envVars:
      - key: DB_URL
        sync: false
      - key: DB_USER
        sync: false
      - key: DB_PASS
        sync: false
      - key: SPRING_PROFILES_ACTIVE
        value: prod
